.header{
    background: #2a6496;
    padding: 25px 15px;
    color: #fff;
    padding: 25px;
}

.banner-bird{
    width:50px
}

.title{
    font-size:xx-large;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 500;
}
